/* general settings for section & subheader */
section,#subheader{
-webkit-background-size: 100%;
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
}

/* background settings for section */
#section-contact {background:url(../images/background/lagos.jpeg) fixed;}
#section-schedules {background:url(../images/background/2.jpg) fixed;}
#section-register {background:url(../images/background/lagos-3.jpeg) fixed;}
#section-contact {background:url(../images/background/gsc-lagos-white.jpeg) fixed;}
#section-partners {background:url(../images/background/lagos.jpeg) fixed;}

/* media query */
@media only screen and (max-width: 1199px) {
	section{
	-webkit-background-size: auto 100% !important;
	-moz-background-size: auto 100% !important;
	-o-background-size: auto 100% !important;
	background-size: auto 100% !important;
	background-attachment:scroll !important;
	background-position:top !important;
	}
}